<app-nav-bar [disableDropdowns]="true" [disableLogo]='true' style="width: 20%; align-items: center;"></app-nav-bar>
<div class="container" id="container">
  <div class="form-container sign-in-container">
    <div class = "form">
      <h1>Login</h1>

      <input type="email" [(ngModel)]="username"  placeholder="Email" required>
      <input [(ngModel)]="password" type="password" placeholder="Senha" required>
      <a href="#">Esqueceu sua senha?</a>
      
      <button type="button" (click)="login()" [disabled]="!username || !password" >ENTRAR</button>
      <div id="google-btn" style="  margin-top: 6%; margin-bottom: 4%;">

      </div>
  </div>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Não possui conta?</h1>
        <p>Clique no botão abaixo para acessar nossa aba de cadastro!</p>
        <button class="ghost" id="signUp" routerLink="/sign-up">Cadastre-se</button>
      </div>
    </div>
  </div>
</div>

