<div class="programs">
    <h2>Programas em alta</h2>
    <div class="programs-grid">
        <div class="program"><a [routerLink]="['/content']"  ><img [src]="imgcidade1" alt=" " />Vancouver, Canadá - CI</a></div>
        <div class="program"><a [routerLink]="['/italy']"  ><img [src]="imgcidade2" alt=" " />Roma, Itália - EF</a></div>
        <div class="program"><a [routerLink]="['/france']" ><img [src]="imgcidade3" alt=" " />Paris, França - EF</a></div>
        <div class="program"><a [routerLink]="['/uk']" ><img [src]="imgcidade4" alt=" " />Oxford, UK - EF</a></div>
    </div>
</div>
<div class="programs">
    <h2>Programas que talvez tenha interesse</h2>
    <p>Programas baseados em suas preferências</p>
    <div class="programs-grid">
        <div class="program"><a [routerLink]="['/eua']" ><img [src]="imgcidade5" alt=" " />Orlando, EUA - CI</a></div>
        <div class="program"><a [routerLink]="['/italy']" ><img [src]="imgcidade2" alt=" " />Roma, Itália - EF</a></div>
        <div class="program"><a [routerLink]="['/france']"  ><img [src]="imgcidade3" alt=" " />Paris, França - EF</a></div>
        <div class="program"><a [routerLink]="['/uk']"  ><img [src]="imgcidade4" alt=" " />Oxford, UK - EF</a></div>
    </div>
</div>
