.programs {
    margin-bottom: 40px;
    margin-left: 1vh;
    
}

.programs h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.programs p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.programs-grid {
    display: flex;
    gap: 10px;
}

.program {
    width: calc(25% - 10px);
    height: 150px;
    border-radius: 5px;
    font-size: 20px;
    cursor:pointer;
}

a {
    text-decoration: none;
    color:black;
}
a img {
    border-radius: 10px;
    width: 100%;
    height:100%;
}