<div class="programs">
    <h2>Programas em alta</h2>
    <div class="programs-grid">
        <div class="program"><img [src]="imgcidade1" alt=" "style="width: 100%; height:100%" />Vancouver - Canadá</div>
        <div class="program"></div>
        <div class="program"></div>
        <div class="program"></div>
    </div>
</div>
<div class="programs">
    <h2>Programas que talvez tenha interesse</h2>
    <p>Programas baseados em suas preferências</p>
    <div class="programs-grid">
        <div class="program"></div>
        <div class="program"></div>
        <div class="program"></div>
        <div class="program"></div>
    </div>
</div>
